.all-investments__search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.toggle-view-button {
  height: 50px;
  width: 50px;
  border: none;
  background-color: var(--soft-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  color: var(--txtMain-color);
}
